<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1 class="title">This is a stupid title</h1>
    <table>
        <thead>
            <tr>
                <th>
                    <h1>Project list</h1>
                </th>
            </tr>
        </thead>
        <tbody>
<!--            <tr th:each="project: ${projectList}">-->
<!--                <td th:text="${project.de}">-->
<!--            </tr>-->
            <td th:text="hej"></td>
        </tbody>
    </table>
</body>
</html>